/* .classname
{
  
    position: relative;  
   
    position: static;  
    position: absolute;
    display: block;
    display: flex;
    display: inline;
    display: inline-block;
    visibility: hidden;
    visibility: none;
    overflow: unset;
    overflow: hidden;
    overflow: c;
    overflow: scroll;
    cursor: pointer;
    cursor: auto;
    margin: 9px;
    margin: auto;
    margin-bottom: ;
    margin-left: ;
    padding: auto;
  padding-top: ;



  background: #000;
  background-color: #fff;
  color: #000;
 /*  */